*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
}

.contact{
 

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('https://www.oregon.gov/employ/Agency/PublishingImages/ContactUs-2024.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}