<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans">
    
    <header class="bg-[#4B3F32] p-[20px] flex items-center justify-between text-white">
        <div class="flex items-center gap-10">
           <img class="rounded-full ml-[40px] " src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sneakers-store-brand-logo%2C-sneaker-store-logo-design-template-cd4d67885f338eb3623ea9e1a7d92328_screen.jpg?ts=1695153682" alt="" width="100">
           <h3 class="text-3xl">Shoes Store</h3>
        </div>

        <div class="mr-[100px] ">

            <ul  class="flex gap-10">
                <li><a href="" class="text-3xl hover:underline">Inicio</a></li>
                <li><a href="" class="text-3xl hover:underline">Productos</a></li>

                <li><a href="" class="text-3xl hover:underline">Promociones</a></li>
                <li><a href="" class="text-3xl hover:underline">Contacto</a></li>
            </ul>

        </div >
    </header>
    <main>
        <section class="welcome">
            <div class="grid grid-cols-1 sm:grid-cols-2">
                <div class="flex items-center bg-[#2D677A] ">
                    <p class="p-[20px] text-2xl text-white">Welcome to our Shoes Store
                        Step up your sneaker game with our premium selection! At Argueta Store, we offer the latest and trendiest sneakers from top brands, blending style, comfort, and performance. Whether you’re into classic streetwear or cutting-edge designs, we’ve got the perfect kicks to match your vibe. Explore our wide range of men’s, women’s, and kids’ sneakers, and stay ahead of the fashion curve.</p>
    
                </div>
                
                <div>
                    <img src="https://media.gq.com/photos/60d21a25ab6b8cc6e9d2c80a/4:3/w_4800,h_3600,c_limit/SNEAKER_GUIDE_OPENER.jpg" alt="">
                </div>
                   
               
            </div>

        </section>

        <section class="products grid grid-cols-1 bg-[#A06B35]">
                  <h3 class="text-center text-3xl">Our products</h3>


        </section>
    </main>
    
</body>
</html>